*{
  font-family: 'Courier New', monospace;
}
.custom-secondary{
  background-color: #1894c5;
}
.navy{
  background:#131521;
  color:#1894c5;
}

.navy a{
  color:#3bc518;
  font-weight:bold;

}
.main{
  background-color:#b5b5b5;
}
.profile{
  display: block;
  max-width:612px;
  max-height:375px;
  width: auto;
  height: auto;
  border: #3bc518 solid !important;
}

.bio{
  background-color: #131521 !important;
  border: #3bc518 solid !important;
  color:#3bc518;
  text-align: start;
}

.article-card{
  background-color: #131521 !important;
  color:#3bc518;
    border: #131521 solid !important;
}
.footer{
  background-color: #131521 !important;
  color:#3bc518 !important;
  font-weight: bold;
}
.card-footer-bg{
  background-color:#b5b5b5 !important;
  color:#131521 !important;
  font-weight: bold;
}