.custom-secondary{
  background-color: #1894c5;
}
.navy{
  background:#131521;
  color:#1894c5;
}

.navy a{
  color:#1894c5;
  font-weight:bold;
}
.main{
  background-color: #d3d6d8;
}
.profile{
  display: block;
  max-width:612px;
  max-height:370px;
  width: auto;
  height: auto;
}

.bio{
  font-family: 'Courier New', monospace;
  background-color: #131521 !important;
  border: #3bc518 solid !important;
  color:#3bc518
}